In [12]:
import pandas as pd 
from pathlib import Path 

import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress

In [13]:
# Dataset files

# Define the file paths as Path objects
fraud_data_csv = Path("fraud_data.csv")
fraud_data = pd.read_csv(fraud_data_csv, encoding="Latin1")
fraud_data.head()

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud
0,04-01-2019 00:58,"""Stokes, Christiansen and Sipes""",grocery_net,14.37,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,a3806e984cec6ac0096d8184c64ad3a1,65.654142,-164.722603,1
1,04-01-2019 15:06,Predovic Inc,shopping_net,966.11,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,a59185fe1b9ccf21323f581d7477573f,65.468863,-165.473127,1
2,04-01-2019 22:37,Wisozk and Sons,misc_pos,49.61,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,86ba3a888b42cd3925881fa34177b4e0,65.347667,-165.914542,1
3,04-01-2019 23:06,Murray-Smitham,grocery_pos,295.26,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,3a068fe1d856f0ecedbed33e4b5f4496,64.445035,-166.080207,1
4,04-01-2019 23:59,Friesen Lt,health_fitness,18.17,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,891cdd1191028759dc20dc224347a0ff,65.447094,-165.446843,1

In [14]:
fraud_data.columns

Index(['trans_date_trans_time', 'merchant', 'category', 'amt', 'city', 'state',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'merch_lat',
       'merch_long', 'is_fraud'],
      dtype='object')

In [15]:
missing_values = fraud_data.isnull().sum()
print(missing_values)

trans_date_trans_time    0
merchant                 0
category                 0
amt                      0
city                     0
state                    0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [16]:
# Drop rows with any missing values
fraud_data_cleaned = fraud_data.dropna(how='any')

# Verify the changes
print("Original DataFrame shape:", fraud_data.shape)
print("Cleaned DataFrame shape:", fraud_data_cleaned.shape)
print(fraud_data_cleaned.head())

Original DataFrame shape: (14446, 15)
Cleaned DataFrame shape: (14446, 15)
  trans_date_trans_time                          merchant        category  \
0      04-01-2019 00:58  "Stokes, Christiansen and Sipes"     grocery_net
1      04-01-2019 15:06                      Predovic Inc    shopping_net
2      04-01-2019 22:37                   Wisozk and Sons        misc_pos
3      04-01-2019 23:06                    Murray-Smitham     grocery_pos
4      04-01-2019 23:59                        Friesen Lt  health_fitness

      amt   city state      lat      long  city_pop  \
0   14.37  Wales    AK  64.7556 -165.6723       145
1  966.11  Wales    AK  64.7556 -165.6723       145
2   49.61  Wales    AK  64.7556 -165.6723       145
3  295.26  Wales    AK  64.7556 -165.6723       145
4   18.17  Wales    AK  64.7556 -165.6723       145

                          job         dob                         trans_num  \
0  "Administrator, education"  09-11-1939  a3806e984cec6ac0096d8184c64ad3a1
1  "Administrator, education"  09-11-1939  a59185fe1b9ccf21323f581d7477573f
2  "Administrator, education"  09-11-1939  86ba3a888b42cd3925881fa34177b4e0
3  "Administrator, education"  09-11-1939  3a068fe1d856f0ecedbed33e4b5f4496
4  "Administrator, education"  09-11-1939  891cdd1191028759dc20dc224347a0ff

   merch_lat  merch_long is_fraud
0  65.654142 -164.722603        1
1  65.468863 -165.473127        1
2  65.347667 -165.914542        1
3  64.445035 -166.080207        1
4  65.447094 -165.446843        1

In [20]:
# Drop duplicate rows
fraud_data = fraud_data.drop_duplicates()

# Verify that duplicates are removed
print(f"Number of duplicates after dropping: {fraud_data.duplicated().sum()}")

Number of duplicates after dropping: 0